<section class="mt-[150px] max-w-[1300px] mx-auto px-6" id="como-comprar">
  <h2
    class="text-negro font-extrabold text-4xl sm:text-5xl text-center leading-snug mb-[52px]"
  >
    ¿Cómo comprar?
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[24px]">
    <!--Item 1 -->
    <div data-aos="fade-up" data-aos-delay="200" class="bg-[#F2F3FE] p-6 sm:p-12 rounded-xl flex flex-col items-center">
      <div class="bg-[#B8B9FD] inline-block p-4 rounded-full mb-6">
        <img class="max-w-[50px]" src="/mano.webp" alt="mano-emoji" />
      </div>
      <div>
        <p class="text-xl sm:text-2xl font-semibold mb-4 text-negro text-center">
          Elección del Servicio
        </p>
        <p class="text-parrafo text-sm sm:text-base">
          Decide si prefieres obtener likes o seguidores.
        </p>
      </div>
    </div>
    <!--Item 2 -->
    <div data-aos="fade-up" data-aos-delay="300" class="bg-[#F2FBFE] p-6 sm:p-12 rounded-xl flex flex-col items-center">
      <div class="bg-[#B8ECFD] inline-block p-4 rounded-full mb-6">
        <img class="max-w-[50px]" src="/celular.webp" alt="celular-emoji" />
      </div>
      <div>
        <p class="text-xl sm:text-2xl font-semibold mb-4 text-negro text-center">
          Contáctanos en Instagram
        </p>
        <p class="text-parrafo text-sm sm:text-base">
          Envíanos un mensaje directo a nuestra cuenta de Instagram Para que
          compartas tu elección con nosotros y podamos proceder con la gestión
          de la compra.
          <a
            href="https://www.instagram.com/activatuperfil_oficial/"
            target="_blank"
            class="text-primary">Ir ahora</a
          >
        </p>
      </div>
    </div>
    <!--Item 3 -->
    <div data-aos="fade-up" data-aos-delay="400" class="bg-[#FDF6F3] p-6 sm:p-12 rounded-xl flex flex-col items-center">
      <div class="bg-[#FDCDB8] inline-block p-4 rounded-full mb-6">
        <img class="max-w-[50px]" src="/cohete.webp" alt="cohete-emoji" />
      </div>
      <div>
        <p class="text-xl sm:text-2xl font-semibold mb-4 text-negro text-center">
          Realiza la Transacción y Disfruta
        </p>
        <ul class="list-disc ml-5 text-sm sm:text-base text-parrafo">
          <li>Haz la transferencia correspondiente.</li>
          <li>
            Nosotros crearemos la orden para cargar tus seguidores o likes.
          </li>
          <li>
            ¡Listo! Disfruta del aumento en tu presencia en redes sociales.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
