---
import { AccordionF } from "./ui/MisUI/AccordionF";

---

<section class="my-[150px] max-w-[1300px] mx-auto px-6" id="preguntas-frecuentes" data-aos="fade-up">
  <div class="mb-[52px] flex flex-col sm:flex-row w-full gap-4 items-center">
    <h2 class="text-negro font-extrabold text-4xl sm:text-5xl text-start leading-snug">
        Preguntas <br/> Frecuentes
    </h2>
    <div class="flex">
      <img
        class="w-[56px] h-[56px]"
        src="/mano-saludando.webp"
        alt="mano-saludando"
      />
    </div>
  </div>

  <AccordionF client:load/>
</section>
